{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="what-we-do">
	<div class="container-fluid">
		<div class="row">
<!-- 			<div class="col-lg-6 padding-0" style="background-image: url('{{ .image_webp | absURL }}'); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 400px;">
				<img class="lozad" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'" data-src="{{ .image_webp | absURL }}" />
			</div> -->
			<!-- <div class="col-lg-6"> -->
			<div class="col-lg-12">

				<div class="title text-center wow fadeIn feature-padding-top" data-wow-duration="1500ms">
					<h2> {{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ index (split . " ") 1 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ index (split . " ") 2 | safeHTML }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
				<div class="content-block">
					<p>{{ .content | markdownify }}</p>
					<div class="row">
						{{ range .feature_item }}
							<div class="col-lg-6">
								<div class="media">
									{{with .icon}}
									<div class="align-self-start mr-3">
										<i class="{{ . }}"></i>
									</div>
									{{ end }}
									<div class="media-body">
										<h4 class="media-heading">{{ .title | markdownify }}</h4>
										<ul>
											{{ range .content }}
											   <li>{{ . | markdownify }}</li>
											{{ end }}
										</ul>
									</div>
								</div>
							</div>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
