{{ if site.Params.preloader.enable }}
{{ "<!-- preloader start -->" | safeHTML }}
<div class="preloader">
  {{ if site.Params.preloader.preloaderTitle }}
      <h4>{{ site.Params.preloader.preloaderTitle }}</h4>
  {{ else }}
	  {{ with site.Params.preloader.preloader }}
	  <img src="{{ . | absURL }}" alt="preloader">
	  {{ end }}
  {{ end }}
</div>
{{ "<!-- preloader end -->" | safeHTML }}
{{ end }}
